<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoteng.server.mapper.FileMetadataMapper">


    <insert id="insert" parameterType="com.xiaoteng.data.entity.FileMetadata" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO loginauthentication_schema.file_metadata
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="originalName != null and originalName != ''">original_name,</if>
            <if test="storedName != null and storedName != ''">stored_name,</if>
            <if test="ext != null and ext != ''">ext,</if>
            <if test="contentType != null and contentType != ''">content_type,</if>
            <if test="size != null">size,</if>
            <if test="storageType != null and storageType != ''">storage_type,</if>
            <if test="bucketName != null and bucketName != ''">bucket_name,</if>
            <if test="objectKey != null and objectKey != ''">object_key,</if>
            <if test="accessUrl != null and accessUrl != ''">access_url,</if>
            <if test="bizType != null and bizType != ''">biz_type,</if>
            <if test="bizId != null">biz_id,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="originalName != null and originalName != ''">#{originalName},</if>
            <if test="storedName != null and storedName != ''">#{storedName},</if>
            <if test="ext != null and ext != ''">#{ext},</if>
            <if test="contentType != null and contentType != ''">#{contentType},</if>
            <if test="size != null">#{size},</if>
            <if test="storageType != null and storageType != ''">#{storageType},</if>
            <if test="bucketName != null and bucketName != ''">#{bucketName},</if>
            <if test="objectKey != null and objectKey != ''">#{objectKey},</if>
            <if test="accessUrl != null and accessUrl != ''">#{accessUrl},</if>
            <if test="bizType != null and bizType != ''">#{bizType},</if>
            <if test="bizId != null">#{bizId},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>


</mapper>